#root {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    font-size: 40.5%;
    font-family: "Roboto";
}

.srOnly {
    position: absolute;
    width: 0.1rem;
    height: 0.1rem;
    padding: 0;
    margin: -0.1rem;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 700;
    font-size: 1.4rem;
    line-height: 2.4rem;

    text-transform: uppercase;
    cursor: pointer;
    padding: 0.4rem 2.4rem;
    border-radius: 0.5rem;
}

.primary {
    background: #6246EA;

    color: #FFFFFF;
    transition: background-color 200ms;
}

.primary:hover {
    background: #523DBE;
    color: white;
}

.secondary {
    color: #6246EA;
    background: transparent;
}

.secondary:hover {
    color: white;
    background: #6246EA;
}

body {
    font-size: 1.6rem;
    margin: 0;
}

input,
select,
button {
    font-family: "Roboto";
    all: unset;
}

input, select {
    color: #7C7C8A;
    min-width: 29rem;
}

select, .select {
    position: relative;
}

select {
    z-index: 1;
}


.select i.ph-caret-down-light {
    position: absolute;
    right: 1rem;
    z-index: 0;
    color: #858793;
}
